.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}

* {font-family: 'Montserrat', sans-serif; }
a {text-decoration: none;}

body {margin: 0;}
  
header {
	min-height: 100px; 
	max-width: 1110px;  
	margin: auto;
	background: inherit;
		
	&:after {
		content: ''; 
		position: absolute; 
		width: 100%;
		left: 0; 		 		
		opacity: 0.5;
		border-bottom: 1px solid #A1A1A1;		 
	}
}
  
.main-nav__list {
	margin: 0;
	padding: 0;
	display: flex; 
	justify-content: flex-end;
	// flex-wrap: wrap; будет бургер
}
  
.site-list__item {
	list-style-type: none; 
	margin: 40px 20px;
	font-size: 16px;
	font-weight: 500;
	position: relative;
		
	a {color: #fff;}

	&:hover::after {content: ''; 
		position: absolute; 
		width: calc(100% + 40px);
		left: -20px; 
		bottom: -40px; 		
		opacity: 0.5;
		border-bottom: 2px solid #fff;}
}

.first-screen {
	position: relative;
	color: #fff;

	&::after {
	content: ''; 
	position: absolute; 
	width: 100%;
	height: 900px;
	z-index: -1;
	left: 0px; 
	bottom: 0px; 
	background-image: url(../img/first-scree-bg.jpg);
	background-repeat: no-repeat;
	background-position: center bottom;
	background-size: cover;		
	}
}

.first-screen__wrapper-centring {
	display: flex;	
	flex-direction: column;
	align-items: center;
	min-height: 800px;	
	max-width: 1110px;
	margin: auto;	
	padding: 0 10px;
}

.first-screen__box {
	margin: auto;
	text-align: center;

	h2 {
		font-size: 16px;
		font-weight: 500;		
	}

	p {
		font-size: 48px;
		font-weight: 800;	
		margin-top: 20px;	
	}
}

.button {
	display: inline-block;
	min-width: 200px;
	height: 45px;
	border-radius: 30px;
	background-color: #4985FF;	
	line-height: 45px;
	font-size: 16px;
	color: #FFF;	
	text-align: center;
}

.services {				
	max-width: 1110px;
	margin: auto;	
	display: flex;	
	flex-direction: column;
	align-items: center;
	margin-top: 100px;	
	padding: 0 10px 105px 0;

	.services__heading {
		margin-top: 0;
		font-weight: 700;
		text-align: center;
		max-width: 740px;
		font-size: 36px;
		margin-bottom: 0;
		color: #323232;
	}	

	.services__info {
		max-width: 740px;
		text-align: center;
		margin-top: 50px;
		font-size: 16px;
		font-weight: 400;
		margin-bottom: 0;
		color: #999999;		
	}

	.button {margin-top: 55px;}
}

.services__items {
	margin-top: 70px;
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	justify-content: space-between;
	margin-bottom: 0;
	padding: 0;
}

.services__item {
	display: flex;
	justify-content: space-between;
	max-width: 353px;
}

.services__item-circle-1 {
	min-width: 110px;
	height: 110px;
	border: 1px solid #E0E0E0;
	border-radius: 50%;
	display: flex;
}

.services__item-circle-2 {
	margin: auto;
	width: 90px;
	height: 90px;
	border: 1px solid #4985FF;
	border-radius: 50%;
	display: flex;

	img {margin: auto;}
}

.services__item-content-wrap {
	max-width: 222px;
	margin: 0;
	margin-left: 10px;

	h3 {
		font-size: 18px;
		color:#000;
		font-weight: 600;
	}

	p {
		font-size: 14px;
		font-weight: 400;
		color: #999999;
	}
}

.about-us__bg {
	background-color: #F6F6F8;
	width: 100%;
}

.about-us {
	max-width: 1110px;	
	margin: auto;	
	border-bottom: 1px solid #E0E0E0;
	padding: 100px 10px 70px;
	// background-color: #F6F6F8;
	position: relative;

	
}

.about-us__wrap {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	border-bottom: 1px solid #E0E0E0;
	padding-bottom: 90px;
}

.about-us__content-wrap,
.about-us__wrap img {
	position: relative;
	width: 45%;
	min-width: 260px;		
}

.about-us__content-wrap {
	padding-top: 50px;	

	h2 {color: #323232;}

	p {
		margin: 40px 0 30px 0;
		color: #999999;
		font-weight: 400;
	}

	a {
		text-decoration: underline;
		color: #4985FF;
		font-size: 16px;
		font-family: 500;
	}
}

.about-us__wrap img { 	
	object-fit: contain;
	border-radius: 30px;
}

.about-us__exemples {
	display: flex;
	max-width: 920px;
	margin: 70px auto;
	list-style: none;	
	padding: 0;
	justify-content: space-between;

	li>p {
		font-weight: 400;
		font-size: 14px;
		color: #999999;
		margin: 17px 0 0 0;
		text-align: center;
	}

	
}

.about-us__exemples-item-wrap {
	display: flex;
	justify-content: space-between;

	

	p {
		font-weight: 400;
		font-size: 36px;
		color: #000;
		margin: 0 0 0 20px;
	}

	img {
		width: 30px;
		object-fit: contain;
	}

	
}